@media screen and (min-width:1200px) and (max-width:1400px) {
    .balance-content span {
        font-family: 'Bebas Neue' , sans-serif;
        font-size: 60px;
    }
    
    .balance-content p {
        font-family: 'Poppins' , sans-serif;
        font-size: 27px;
        margin-bottom: 0px;
    }



    #tbudget-form h3{
        font-size: 26px;
    }
}