@media screen and (max-width:576px){
    .balance-content span {
        font-family: 'Bebas Neue' , sans-serif;
        font-size: 42px;
    }
    
    .balance-content p {
        font-family: 'Poppins' , sans-serif;
        font-size: 20px;
        margin-bottom: 0px;
    }

    #tbudget-form h3{
        font-size: 19px;
    }

    .budget{
        padding-right: 0;
        margin-bottom: 15px;
    }
    
    .budget-balance {
        padding: 10px;
    }

    .main-section {
        margin-top: 0px;
    }
    
    .details{
        padding: 40px 10px;
    }

    .btn{
    font-size: 14px;
    }

    .forms{
        padding: 30px;
    }

    .tbudget{
        padding-bottom: 20px;
    }
    
    .allexpense{
        padding-top: 20px;
    }

}