@media screen and (min-width:768px) and (max-width:991px){
    .balance-content span {
        font-family: 'Bebas Neue' , sans-serif;
        font-size: 54px;
    }
    
    .balance-content p {
        font-family: 'Poppins' , sans-serif;
        font-size: 24px;
        margin-bottom: 0px;
    }
    
    .budget-balance{
        padding: 20px 20px;
    }

    .details{
        padding: 40px 20px;
    }

    .tbudget{
        padding-right: 15px;
    }
    
    .allexpense{
        padding-left: 15px;
    }
    
    .forms{
        padding: 30px;
    }
}